<%- include ('partials/header.ejs'); -%>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-form" action="" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="middle_name" id="middle-name" placeholder="Middle Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="birth_date" id="birth-date" placeholder="Date of Birth (YYYY-MM-DD)" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="gender" id="gender" placeholder="Gender (M/F)" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="ssn" id="ssn" placeholder="SSN" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="hire_date" id="hire-date" placeholder="Hire Date (YYYY-MM-DD)" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="address1" id="address1" placeholder="Address Line 1" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="address2" id="address2" placeholder="Address Line 2" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="state" id="state" placeholder="State" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="zipcode" id="zipcode" placeholder="Zip Code" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="home_phone" id="home-phone" placeholder="Home Phone" >
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="mobile_phone" id="mobile-phone" placeholder="Mobile Phone" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Employee</button>
        </form>
    </div>
</div>
</body>
</html>
