<%- include ('partials/header.ejs'); -%>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-form" action="" method="post" >
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="dept_name" id="dept-name" placeholder="Department Name" required>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Department</button>
        </form>
    </div>
</div>
</body>
</html>
